<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LMCC | JARVIS</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">
	<link rel="stylesheet" href="/static/css/lmcc_main.css">
</head>
<body>
	<div id="panel_mission_monitoring" class="panel_lmcc">
		<div id="panel_timers" class="panel_lmcc">
			<div id="running_timer_eva" class="info_lmcc">
			</div>

			<div id="timer_eva1_o2" class="info_lmcc">
			</div>

			<div id="timer_eva2_o2" class="info_lmcc">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/static/js/lmcc_main.js"></script>
</html>