<!DOCTYPE html>
<html>
<head>
    <title>JARVIS LMCC | Landing</title>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" type="text/css">
</head>
<body>	
	<div id="titletext">
		JARVIS | LMCC
	</div>

	<div id="leftbutton" class="userbutton">| Left Screen</div>

	<div id="rightbutton" class="userbutton">Right Screen |</div>
</body>
<script type="text/javascript">
	document.getElementById("leftbutton").onclick = function() {
		window.location.href = "/left"
	}

	document.getElementById("rightbutton").onclick = function() {
		window.location.href = "/right"
	}

</script>
</html>