<!DOCTYPE html>
<html>
<head>
    <title>JARVIS LMCC | Landing</title>
    <link href="/css/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>
<body>	
	<div id="titletext">
		JARVIS | LMCC
	</div>

	<div id="leftbutton" class="userbutton">| Left Screen</div>

    <div id="rightbutton" class="userbutton">Right Screen |</div>
    <br><br>
    <input type="text" class="userinput" id="gateway_addr" placeholder="Gateway IP">
    <input type="text" class="userinput" id="ev1_addr" placeholder="EV1 HMD IP">
    <input type="text" class="userinput" id="ev2_addr" placeholder="EV2 HMD IP">


</body>
<script type="text/javascript">
    var gateway_addr_inp = document.getElementById("gateway_addr")
    var ev1_addr_inp = document.getElementById("ev1_addr");
    var ev2_addr_inp = document.getElementById("ev2_addr");

    function constructParamStr() {
        return "?gateway_ip=" + gateway_addr_inp.value + "&ev1_addr=" + ev1_addr_inp.value + "&ev2_addr=" + ev2_addr_inp.value
    }

	document.getElementById("leftbutton").onclick = function() {
            window.location.href = "/left" + constructParamStr();
	}

	document.getElementById("rightbutton").onclick = function() {
		window.location.href = "/right" + constructParamStr();
	}

	document.getElementById("gateway_addr").value = window.location.hostname

</script>
</html>
