<!DOCTYPE html>
<html>
<head>
	<title>JARVIS LMCC | Left</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/left.css">
</head>
<body>
    <!-- <div class="panel-container"> -->

        
        <!-- 1. Task Interface Panel -->
        <div id="task_panel" class="panel">
            <div id="evatitle" div class="paneltitle">EVA Tasks</div>

            <div id="task_category_panel">
                <label for="taskCategorySelector">
                    <div id="task_label">
                        Task Category
                    </div>
                </label>
                
                <div class="select-dropdown">
                    <select id="taskCategorySelector" onchange="fetchAllTasks()">
                        <option value="cat_egress">egress</option>
                        <option value="cat_ingress">ingress</option>
                        <option value="cat_rover">rover</option>

                        <!-- Add more tasks as needed -->
                    </select>
                </div>
            </div>
            
            <div id="subtask_panel">
                <label for="taskSelector">
                    <div id="subtask_label">
                        Subtask
                    </div>
                </label>


                <div class="select-dropdown">
                    <select id="taskSelector" onchange="displaySelectedTask()">
                        <!-- Add more tasks as needed -->
                    </select>
                </div>

            </div>

            <!-- <br><br> -->
            <div id="task_description_panel">
                <div id="task_description"> 
                </div>
            </div>

            <!-- <br><br> -->
            <button id="send_task" onclick="createTask()">
                Send Task
            </button>

            <div id="task_confirmation_panel">
                <div id="task_confirmation">
                </div>
            </div>
        </div>


        <!-- 2. Mission Monitoring Panel -->
        <div id="panel_mission_monitor" class="panel">
            
            <!-- <div id="inner_mission_panel"> -->
            <div id="missiontitle" div class="paneltitle">
                Mission Control
                 <!-- Question Mark Button -->
                <button id="helpBtn">?</button>
            </div>

            <!-- Help Panel -->
            <div id="helpPanel" class="help-panel">
                <h2>Mission Control</h2>
                <p>Green: Normal</p>
                <p>Yellow: Value is off-nominal, but there is NO handling error scenario</p>
                <p>Red: Value is off-nominal. There IS an handling error scenario</p>
                <button onclick="toggleHelpPanel()">Close</button>
            </div>

            <div id="inner_mission_panel">

                <div id="eva_container">
                    <div class="eva_panel">
                        <div id="evatitle_container">
                            <b>EVA 1</b>
                        </div>
                        <div class="column_telemetry">
                            Telemetry
                            <div id="eva1_telemetry"></div>
                        </div>
                        <div class="column_value">
                            Value
                            <div id="eva1_value"></div>
                        </div>
                    </div>

                    <div class="eva_panel">
                        <div id="evatitle_container">
                            <b>EVA 2</b>
                        </div>
                        <div class="column_telemetry">
                            Telemetry
                            <div id="eva2_telemetry"></div>
                        </div>
                        <div class="column_value">
                            Value
                            <div id="eva2_value"></div>
                        </div>
                    </div>
                </div>

                <div id="error_container">
                    <div class="error_panel">
                        <div id="evatitle_container">
                            <b>Errors</b>
                        </div>
                        <div class="column_telemetry">
                            Name
                            <div id="error_name"></div>
                        </div>
                        <div class="column_value">
                            Value
                            <div id="error_value"></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
            

        <!-- 3. Geological Sampling Panel -->
        <div id="panel_geo_sampling" class="panel title">
            Geological Sampling
        </div>

        <audio autoplay id="micstream"></audio>
    <!-- </div> -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<!--<script src="/js/voice.js"></script>-->
<script src="/js/left.js"></script>
</html>
