<!DOCTYPE html>
<html>
<head>
	<title>JARVIS LMCC | Left</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/left.css">
</head>
<body>
    <!-- <div class="panel-container"> -->

        
        <!-- 1. Task Interface Panel -->
        <div id="task_panel" class="panel">
            <div id="evatitle" class="paneltitle">EVA Tasks</div>

            <div id="task_category_panel">
                <label for="taskCategorySelector">
                    <div id="task_label">
                        Task Category
                    </div>
                </label>
                
                <div class="select-dropdown">
                    <select id="taskCategorySelector" onchange="fetchAllTasks()">
                        <option value="cat_egress">Egress</option>
                        <option value="cat_ingress">Ingress</option>
                        <option value="cat_rover">Rover</option>
                        <option value="cat_navigation">Navigation</option>
                        <option value="cat_sampling">Sampling</option>
                        <option value="cat_repair">Repair</option>
                        <option value="cat_EV1LMCC1">EV1LMCC1</option>
                        <option value="cat_EV2LMCC2">EV2LMCC2</option>
                        <option value="cat_EV1navigation">EV1navigation</option>
                        <option value="cat_EV2navigation">EV2navigation</option>
                        <option value="cat_commtower">Communicationtower</option>

                        <!-- Add more tasks as needed -->
                    </select>
                </div>
            </div>
            
            <div id="subtask_panel">
                <label for="taskSelector">
                    <div id="subtask_label">
                        Subtask
                    </div>
                </label>


                <div class="select-dropdown">
                    <select id="taskSelector" onchange="displaySelectedTask()">
                        <!-- Add more tasks as needed -->
                    </select>
                </div>

            </div>

            <!-- <br><br> -->
            <div id="task_description_panel">
                <textarea id="task_description" type="text"> 
                </textarea>

                <input id="task_tss_vars" type="hidden">
            </div>

            <!-- <br><br> -->
            <button id="send_task" onclick="createTask()">
                Send Task
            </button>

            <div id="task_confirmation_panel">
                <div id="task_confirmation">
                </div>
            </div>
        </div>


        <!-- 2. Mission Monitoring Panel -->
        <div id="panel_mission_monitor" class="panel">
            
            <!-- <div id="inner_mission_panel"> -->
            <div id="missiontitle" class="paneltitle">Mission Control</div>

             <!-- Question Mark Button -->
            <button id="helpBtn">?</button>

            <!-- Help Panel -->
            <div id="helpPanel" class="help-panel">
                <h2>Mission Control</h2>
                <p><span style="background-color: #90ee90; padding: 0.2em; color:black;">Green:</span> Normal</p>
                <p><span style="background-color: #ffff99; padding: 0.2em; color:black; ">Yellow:</span> Value is off-nominal, but there is NO handling error scenario</p>
                <p><span style="background-color: #ff9999; padding: 0.2em; color:black; ">Red:</span> Value is off-nominal. There IS a handling error scenario</p>
                <div id="closeButtonContainer">
                    <button onclick="toggleHelpPanel()">Close</button>
                </div>
            </div>

            <div id="inner_mission_panel">

                <div id="eva_container">
                    <div class="eva_panel">
                        <div id="evatitle_container">
                            <b>EVA 1</b>
                        </div>
                        <div class="column_telemetry">
                            Telemetry
                            <div id="eva1_telemetry"></div>
                        </div>
                        <div class="column_value">
                            Value
                            <div id="eva1_value"></div>
                        </div>
                    </div>

                    <div class="eva_panel">
                        <div id="evatitle_container">
                            <b>EVA 2</b>
                        </div>
                        <div class="column_telemetry">
                            Telemetry
                            <div id="eva2_telemetry"></div>
                        </div>
                        <div class="column_value">
                            Value
                            <div id="eva2_value"></div>
                        </div>
                    </div>
                </div>

                <div id="error_container">
                    <div class="error_panel">
                        <div id="evatitle_container">
                            <b>Errors</b>
                        </div>
                        
                        <div class="column_telemetry">
                            Name
                            <div id="error_name"></div>
                        </div>

                        <div class="column_value">
                            Status
                            <div id="error_value"></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
            

        <!-- 3. Geological Sampling Panel -->
        <div id="panel_geo_sampling" class="panel title">
            <div id="geotitle" class="paneltitle">Geological Sampling</div>

        </div>

        <audio autoplay id="micstream"></audio>
    <!-- </div> -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<!--<script src="/js/voice.js"></script>-->
<script src="/js/left.js"></script>
</html>
