<!DOCTYPE html>
<html>
<head>
    <title>JARVIS LMCC | Right</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/right.css">
</head>
<body>
    <div class="panel-container">

        <!-- 1. Geo info panel -->
        <div id="panel_geo" class="panel">
            <div class="paneltitle">
                Geo Panel
            </div>
            
            <div id="geopin_input_panel">
                <input class="user_input" type="hidden" id="pinX">
                <input class="user_input" type="hidden" id="pinY">

                <div class="text_item" type="number" id="pinCoords" placeholder="X-coord (0-4000)">
                    (NA , NA)
                </div>

                <input class="user_input" type="text" id="pindesc" placeholder="Description...">
                    
                </input>

                <br><br>

                <button id="button_geopincreate" class="menubutton" onclick="javascript:requestGeoPinCreation()">
                    Create Location Pin
                </button>

                <button id="navigateButton" class="menubutton">
                    Nav to Selected Pin
                </button>

            </div>

        
            <!--
            <div id="button_panels">

            </div>
            -->

            <div id="panel_lists">
               

                <!-- List for breadcrumbs -->

                 <!-- List for geopins -->
                 <div id="custom_pin_panel">

                    <div id="geopin_title" class="paneltitle">
                        Geo Pins
                    </div>

                    <div id="geo_pin_list_panel">
                        <ul id="geo_pin_list"></ul>
                    </div>
                </div>
            
                <div id="breadcrumb_panel">
                    
                    <div id ="pathfinder_title" class="paneltitle">
                        Navigation
                    </div>

                    <div id="selectedPin">
                        - Nav Target -
                    </div>

                    <button id="clearnavButton" class="menubutton" onclick="javascript:clearNavTarget()">
                        Clear Nav
                    </button>
                    <!-- <div id="breadcrumb_list_inner_panel"> -->
                        <!-- <div id="eva1_legend">
                            EV1
                        </div>
                        <div id="eva2_legend">
                            EV2
                        </div>
                     
                        
                        <div id="eva1_breadcrumb_list_panel">
                            <ul id="eva1_breadcrumb_list"></ul>
                        </div>

                        <div id="eva2_breadcrumb_list_panel">
                            <ul id="eva2_breadcrumb_list"></ul>
                        </div> -->
                    <!-- </div> -->
                    
                  
                </div>
            
            </div>
            

        </div>

        <!-- 2. minimap panel -->
        <div id="panel_minimap" class="panel">
            <span id="EV1_minimap_text" class="EV_minimap_text">
                EV1
            </span>

            <span id="EV2_minimap_text" class="EV_minimap_text">
                EV2
            </span>

             <!-- Right-click context menu for adding geopin -->
             <div id="rightClickMenu" style="visibility: hidden; position: absolute; z-index: 1000; padding: 10px; background: white; border: 1px solid #ccc;">
                <input type="hidden" id="rightClickX" name="x">
                <input type="hidden" id="rightClickY" name="y">
                <input type="text" id="rightClickDesc" placeholder="Enter description">
                <button onclick="submitRightClickGeopin()">Add Geopin</button>
            </div>
            
        </div>
        

        <!-- 3. Camera Feed -->
        <div id="panel_camfeed_1" class="panel cam">
            Crew Camera Feed 1
            <video class="camfeed_element" controls poster="/images/moonsurface.gif">
                <source src="https://100.69.33.190/api/holographic/stream/live_high.mp4?holo=true&pv=true&mic=true&loopback=true&RenderFromCamera=true" type="video/webm" />
            </video>
        </div>

        <div id="panel_camfeed_2" class="panel cam">
            Crew Camera Feed 2
            <video class="camfeed_element" controls poster="/images/moonsurface.gif">
                <source src="https://100.69.33.190/api/holographic/stream/live_high.mp4?holo=true&pv=true&mic=true&loopback=true&RenderFromCamera=true" type="video/webm" />
            </video>
        </div>

        <!-- 4. Rover Interface -->
        <div id="panel_rover" class="panel cam">
            Rover Feed
            <video class="camfeed_element" controls poster="https://mars.nasa.gov/system/resources/detail_files/25904_1-PIA24546-1200.jpg">
                <source src="" type="video/webm" />
            </video>
        </div>

        <div id="panel_rover_lidar" class="panel cam">
            LIDAR Feed
            <video class="camfeed_element" controls poster="https://mars.nasa.gov/system/resources/detail_files/25904_1-PIA24546-1200.jpg">
                <source src="" type="video/webm" />
            </video>
        </div>


         <!-- 5. Control Cache -->
         <div id="panel_controlcache" class="panel">
            Control Cache

            <br><br>

            <button class="capture_pic_ev"></button>

            <br><br>

            <textarea id="control_notes"></textarea>
         </div>

        <!-- <button id="button_task_toggle" onclick="toggleTaskState()">
            Task: Not Started
        </button> -->


        <audio autoplay id="micstream"></audio>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<!--<script src="/js/voice.js"></script>-->
<script src="/js/right.js"></script>
<script>

</script>
</html>
