#task_panel {
	flex-direction: row;
	/* position: fixed; */
	/* top: 0%; */
	right: 0%;
	height: 100%;
	width: 20%;
	top: 0%;
	background-image: linear-gradient(to left,#33426b, #202663);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	aspect-ratio: 5/1;
}

#task_description_panel {
	height: 35%;
	padding: 5% 5%;
	background-image: radial-gradient(#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;
	margin-top: 5%;
	width: 85%;
	border-radius: 10px;

}

#task_confirmation_panel {
    height: 5%;
    padding: 5% 5%;
    background-image: radial-gradient(#737f9d, #5e6394);
    border: 0.2vh solid #454b8f;
    width: 85%;
    border-radius: 10px;
}

#task_description {
	font-family: Source Code Pro;
	color: white;

}

#evatitle {
width: 100%;
height: 3%;
}


#task_category_panel {
	display: flex;
	flex-direction: column;
	background-image: radial-gradient(#33426b, #161c56);
	border: 0.2vh solid #454b8f;
	padding-left: 5%;
	padding-right: 5%;
    text-align: center;
	position: relative;
	width: 35%;
	/* margin-top: 5%; */
	margin-bottom: 5%;
	justify-content: center;
	border-radius: 10px;


}

#task_label {
	color: white;
	margin: 5%;
}




#subtask_panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: radial-gradient(#33426b, #161c56);
	border: 0.2vh solid #454b8f;
	padding-left: 5%;
	padding-right: 5%;
	width: 30%;
	/* margin-top: 5%; */
	margin-bottom: 5%;
	margin-left: 5%;
	border-radius: 10px;
    text-align: center;
}

#subtask_label{
	color: white;
	margin: 5%;

}

#send_task{
	width: 80%;
	margin-bottom: 5%;
    border: 2px solid #88c;
    border-radius: 4px;
    background-color: #669;
    color: #eee;
    font-size: 2vh;
}


#panel_mission_monitor {
	top: 0%;
	left: 0%;
	height: 50%;
	width: 80%;
	aspect-ratio: 400 / 158;
	/* background-color: #88c; */
	background-image: linear-gradient(to bottom right,#33426b, #161c56);
	border-radius: 10px;


}

#missiontitle {
	width: 100%;
	height: 3%;
}
#inner_mission_panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	/* border: 0.2vh solid rgb(41, 225, 249); */
	height: 80%;

}





#time_bio_panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width:20%;
	/* border: 0.2vh solid rgb(194, 76, 43); */
	/* height: 95%; */
	/* margin: 0;      
    padding: 0;   */


}


#timers_panel, #biometrics_panel {
	height: 45%;

	/* padding: 1% 1%; */
	padding-left: 8px;
	padding-top: 8px;
	background-image: radial-gradient(#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;
	/* margin-top: 1%; */
	/* width: 100%; */
	display: inline-block; /* Display the panels inline */
	vertical-align: top; /* Align them to the top */
	border-radius: 10px;
	width:95%;

}


#timers {
	font-family: Source Code Pro;
	color: white;
	

}

/* #biometrics_panel {
	height: 50%;
	padding: 1% 1%;
	background-image: radial-gradient(#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;
	margin-top: 1%;
	width: 50%;
	display: inline-block; 
	vertical-align: top; 
	border-radius: 10px;

} */

#biometrics {
	font-family: Source Code Pro;
	color: white;

}

#alerts_container {
	display: flex;
    justify-content: center;
    align-items: center; 
	aspect-ratio: 5 / 1;
	width: 80%;
	/* left: 0%; */
	/* border: 0.3vh solid rgb(176, 158, 255); */
	padding-bottom: 8px;

}
#alerts_panel {
	height: 92%;
	padding: 1% 1%;
	background-image: radial-gradient(#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;
	margin-top: 1%;
	width: 97%;
	/* align-items: center; */
	display: inline-block; /* Display the panels inline */
	vertical-align: top; /* Align them to the top */
	border-radius: 10px;
    overflow-y: scroll; /* Force vertical scrollbar */

}

#alerts {
	font-family: Source Code Pro;
	color: white;

}

.green-text {
    color: rgb(82, 242, 42);
}

.yellow-text {
    color: rgb(238, 255, 49);
}

.red-text {
    color: rgb(120, 44, 44);
	/* text-shadow: white 0px 0px 0px; */
	font-weight: bold;
}

.select-dropdown {
  /* min-width: 50%; */
  width: 100%;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.5vh;
  padding: 0.675em 1em; /* Reduce the right padding */
  background-color: #88a;
  border: 1px solid #aad;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

#panel_geo_sampling {
	bottom: 0%;
	left: 0%;
	height: 50%;
	width: 80%;
	aspect-ratio: 400 / 158;
	/* background-color: #88c; */
	background-image: linear-gradient(to top right ,#33426b, #161c56);

}
