#task_panel {
	flex-direction: column;
	position: fixed;
	top: 0%;
	left: 0%;
	height: 50%;
	width: 30%;
	aspect-ratio: 1 / 1;
	/* background-color: #88c; */
	background-image: linear-gradient(to bottom right,#33426b, #161c56);

}

#task_description {
	font-family: Source Code Pro;
	height: 30%;
	padding: 1% 1%;
	color: white;
}
