@import "bourbon";

body {
	background-color: #123;
	font-family: Source Code Pro, Courier;
}

button {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	/* border-right: 0.2vh solid #aeaeae; */
	border-right: 0.2vh solid #aeaeae;
	font-family: Source Code Pro, Courier;
}

.help-panel{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
	height: 70%;
    /* max-width: 400px; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001;
    display: none;
	background-image: radial-gradient(#5f6f96, #3946b6);
	opacity: 95%;
	border-radius: 5%;
	border: 0.3vh solid rgb(208, 213, 230);

}


.panel-container {
	/* display: flex; */
	/* flex-direction: column; */
	height: 100%; 
	width: 100%;
	overflow: hidden;
} 


.panel {
	position:absolute;
	border: 0.2vh solid #454b8f;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 10px;
	color: white;
	/* align-items: center ; */
	/* background-image: url('/images/background.png'); */
	/* background-image: linear-gradient(to bottom right, #161c56,#33426b); */
	/* background-color: #161c56; */
	/* display: flex; */
	/* flex-direction: column;
	flex-wrap: wrap; */
	color: white;
}



/* dropdown initial*/
.custom-select {
    position: relative;
    background-color: #e6e6e6;
    width: auto;
    float: left;
    border-radius: 2px;
    overflow: hidden;
    margin: 50px auto;
    cursor: pointer;
}

.custom-select .input-wrap {
    position: relative;
    border: 1px solid #000;
}

.custom-select .input-wrap::after {
    content: "";
    position: absolute;
    z-index: 200;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 9px;
    background-color: #000;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.custom-select .input-wrap.active::after {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.custom-select input {
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.custom-select .option {
    display: none; /* Change to block when active */
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-top: none;
    z-index: 200;
    overflow: hidden;
}

.custom-select .option p:hover {
    background-color: aliceBlue;
    cursor: pointer;
}

.border-bottom-n {
    border-bottom-color: transparent!important;
}



.toggle-button {
	position: relative;
    color: #7e4949;
    padding: 1vh 1vh;
    background-color: #444;
    font-family: Source Code Pro, Courier;
    text-align: center;
}

.toggle-button.active {
    background-color: #666;
    border-color: #bbb;
}

.paneltitle {
	text-align: center;
	padding-top: 10px;	
	padding-bottom: 10px;
	/* left: 50%; */
	font-weight: 600;
	color: #fff;
	font-size: large;
	/* background-color: #0a0e3d; */
	background-image: linear-gradient(to bottom right,#10154a, #090d2f);
	border: 0.1vh solid #4e5496;
}



.user_input {
	/* color: #dcdcdc; */
	padding: 1vh 1vh;
	background-color: rgb(234, 237, 243);
	border: none;
	font-family: Source Code Pro, Courier;
	width: 40%;
	margin-top: 5%;
    margin-left: 3%;
	border: 0.2vh solid #aeaeae;

	/* display: inline-block; */
}

.text_item {
	/* color: #dcdcdc; */
	padding: 1vh 1vh;
	background-color: rgb(234, 237, 243);
	border: none;
	font-family: Source Code Pro, Courier;
	width: 40%;
	margin-top: 5%;
    margin-left: 3%;
	border: 0.2vh solid #aeaeae;

	/* display: inline-block; */
}



/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 7em;
	height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #B0B0B0;
	border: 1px solid #B0B0B0;
	transition: .4s;
	border-radius: 2.5em;
	outline: none;
	z-index: 10;

  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	outline: 2px solid #B0B0B0;
	left: -1px;
	bottom: -1px;
	background-color: #fff;
	transition: transform .25s ease-in-out 0s;
  }
  
  .slider-icon {
	opacity: 0;
	height: 12px;
	width: 12px;
	stroke-width: 8;
	position: absolute;
	z-index: 999;
	stroke: #222222;
	right: 60%;
	top: 30%;
	transition: right ease-in-out .3s, opacity ease-in-out .15s;
  }
  
  input:checked + .slider {
	background-color: #484848;
  }


  
  /* input:checked + .slider .slider-icon {
	opacity: 1;
	right: 20%;
  } */
  
  input:checked + .slider:before {
	transform: translateX(5em);  /* Position of slider after it is clicked */
	outline-color: #ffffff;
  }
