body {
	background-color: #123;
	font-family: Source Code Pro, Courier;
}

button {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
}

.panel {
	position: fixed;
	border: 0.5vh solid black;
	box-sizing: border-box;
}




.toggle-button {
	position: relative;
    color: #7e4949;
    padding: 1vh 1vh;
    background-color: #444;
    font-family: Source Code Pro, Courier;
    text-align: center;
}

.toggle-button.active {
    background-color: #666;
    border-color: #bbb;
}

.paneltitle {
	text-align: center;
	margin-top: 1%;
	left: 50%;
}

.user_input {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
	width: 40%;
	margin-top: 5%;
	display: inline-block;
}



/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 7em;
	height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #B0B0B0;
	border: 1px solid #B0B0B0;
	transition: .4s;
	border-radius: 2.5em;
	outline: none;
	z-index: 10;

  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	outline: 2px solid #B0B0B0;
	left: -1px;
	bottom: -1px;
	background-color: #fff;
	transition: transform .25s ease-in-out 0s;
  }
  
  .slider-icon {
	opacity: 0;
	height: 12px;
	width: 12px;
	stroke-width: 8;
	position: absolute;
	z-index: 999;
	stroke: #222222;
	right: 60%;
	top: 30%;
	transition: right ease-in-out .3s, opacity ease-in-out .15s;
  }
  
  input:checked + .slider {
	background-color: #484848;
  }


  
  /* input:checked + .slider .slider-icon {
	opacity: 1;
	right: 20%;
  } */
  
  input:checked + .slider:before {
	transform: translateX(5em);  /* Position of slider after it is clicked */
	outline-color: #ffffff;
  }