body {
	background-color: #123;
	font-family: Source Code Pro, Courier;
}

button {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
}

input[type=text] {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
}

.panel {
	position: fixed;
	border: 0.5vh solid black;
}

.paneltitle {
	position: relative;
	font-family: Source Code Pro, Courier;
	text-align: center;
	margin-top: 5%;
	font-size: 4vh;
}
