body {
	background-color: #123;
	font-family: Source Code Pro, Courier;
}

button {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
}

.panel {
	position: fixed;
	border: 0.5vh solid black;
	box-sizing: border-box;
}




.toggle-button {
	position: relative;
    color: #fff;
    padding: 1vh 1vh;
    background-color: #444;
    font-family: Source Code Pro, Courier;
    text-align: center;
}

.toggle-button.active {
    background-color: #666;
    border-color: #bbb;
}

.paneltitle {
	text-align: center;
	margin-top: 1%;
	left: 50%;
}

.user_input {
	color: #bbb;
	padding: 1vh 1vh;
	background-color: #444;
	border: none;
	font-family: Source Code Pro, Courier;
	width: 40%;
	margin-top: 5%;
	display: inline-block;
}
