

/* #button_breadcrumbs {
	position: relative;
	background-color: #08d;
	font-family: Source Code Pro, Courier;
	margin-top: 5%;
	left: 5%;
} */

.switch {
	/* Adjustments for right page */
	margin-left: 5%;

	/* border: 0.5vh solid rgb(161, 54, 154); */

  }

/* Geo info panel */
#panel_geo {
	/* flex-direction: column; */
	/* position: fixed; */
	bottom: 0%;
	top: 50%;
	right: 0%;
	height: 50%;
	aspect-ratio: 5 / 4;
	/* background-color: #88c; */
	background-image: linear-gradient(to top left,#33426b, #161c56);


	/* align-items: center;
	justify-content: space-around; */
	/* border: 0.5vh solid rgb(209, 173, 173); */

}

/* THE PANEL THAT CONTAINS BOTH LISTS */
#panel_lists {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 58%; 
    overflow: hidden; /* Prevent overflow outside this container */

	/* border: 0.5vh solid rgb(27, 143, 175); */

}
/* Panel that contains the buttons and list of geopins created */
#custom_pin_panel {

	position: relative;
    width: 49%; /* Adjust the width to fit side by side */
    height: 95%; /* Take up full height of the parent container */
    overflow: auto; /* Make it scrollable */
	background-image: linear-gradient(to bottom right,#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;

    /* border: 0.5vh solid rgb(86, 174, 115); */
}

#geopin_title{
	position: sticky;
	background-image: linear-gradient(to bottom right,#33426b, #161c56);
	border: 0.2vh solid #454b8f;
	
}


#geo_pin_list_panel{
	height: calc(100% - 40px); /* Adjust the height based on the title's height */
    overflow: auto; 
	
	/* border: 0.1vh solid rgb(64, 59, 95); */

}

#geo_pin_list {
	overflow: auto;
	list-style-position: inside; /* Moves the bullet points inside the padding area */
    padding-left: 10px; /* Adjust this value as needed */

	/* border: 0.5vh solid rgb(255, 211, 79); */


}
/* styling for list items */
#geo_pin_list li {
	margin-top: 2%;
	font-family: Source Code Pro, Courier;
	font-size: small;
	border-bottom: 1px solid black;


}

/* Button for creating geo pin */


#geopin_input_panel {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content:space-evenly ;
    /* background-color: rgb(116, 116, 175); */

	/* align-content: flex-end; */
	/* gap: 10px; */

	padding-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;


}

#pinX {
	/* position: relative;
	left: 5%;
	flex: 1; */
}

#pinY {
	/* position: relative;
	left: 5%;
	flex: 1; */
}

#pindesc {
	/* position: relative;
	margin-top: 5%;
	left: 5%;
	display: inline-block; */
	align-self:flex-end;

}

#button_geopincreate {
	/* position: relative; */
	/* font-family: Source Code Pro, Courier; */
	/* text-align: center; */
	/* margin-top: 5%;
	left: 5%; */
	align-self:flex-end;
}


/* BREAD CRUMBS */


/* Panel that contains the list of breadcrumbs created */
#breadcrumb_panel {
	display: flex;
	flex-direction: column;
	position: relative;
    width: 49%; /* Adjust the width to fit side by side */
    height: 95%; /* Take up full height of the parent container */
    overflow: auto; /* Make it scrollable */
    /* background-color: rgb(116, 116, 175); */
	background-image: linear-gradient(to bottom right,#737f9d, #5e6394);
	border: 0.2vh solid #454b8f;

	


    /* border: 0.3vh solid rgb(255, 85, 85); */

}

#breadcrumb_title{
	position: sticky;
	background-image: linear-gradient(to bottom right,#33426b, #161c56);
	border: 0.2vh solid #454b8f;

}

/* holds both eva 1 and eva2 lists within the breadcrumbs panel*/
#breadcrumb_list_inner_panel{
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	overflow: hidden;
	/* border: 0.3vh solid rgb(255, 85, 85); */

	


}
#eva1_breadcrumb_list_panel{
	height: 100%;
    overflow: auto; 
	overflow-x: hidden;
	width: 45.5%;	
	/* padding-right: 0.5%; */
	border-right: 0.1vh solid #000000;


	/* border: 0.1vh solid rgb(27, 167, 41); */

}

#eva2_breadcrumb_list_panel{
	/* height: calc(100% - 40px); */
	height: 100%;

    overflow: auto; 
	overflow-x: hidden;
	width: 45%;

	padding-left: 0.5%;

	/* border: 0.1vh solid rgb(255, 211, 79); */



}

/* Styling of the list itself */
#eva1_breadcrumb_list {
	/* overflow: scroll; */
	overflow: auto;
	height: 100%;

	list-style-position: inside; /* Moves the bullet points inside the padding area */
    padding-left: 0; 

	
	/* border: 0.5vh solid rgb(255, 211, 79); */
	/* border: 0.1vh solid rgb(27, 167, 41); */



}

#eva2_breadcrumb_list {
	/* overflow: scroll; */
	overflow: auto;
	list-style-position: inside;
    padding-left: 5%; 

	/* border: 0.5vh solid rgb(198, 255, 189); */
	/* border: 0.1vh solid rgb(94, 79, 255); */
	height: 100%;

}

/* List of each breadcrumb item */
#eva1_breadcrumb_list li {
	margin-top: 2%;
	font-family: Source Code Pro, Courier;
	font-size: smaller;
	border-bottom: 1px solid black;
	/* border: 0.1vh solid rgb(27, 167, 41); */
	



	/* border: 0.5vh solid rgb(255, 255, 134); */

}

#eva2_breadcrumb_list li {
	margin-top: 2%;
	font-family: Source Code Pro, Courier;
	font-size: smaller;
	border-bottom: 1px solid black;

	/* border: 0.5vh solid rgb(255, 255, 134); */
	/* border: 0.1vh solid rgb(255, 211, 79); */
	/* width: max-content; */

}


#eva1_legend{
	position: sticky;
	width: 50%;
	height: 20px;
	border-bottom: 0.5vh solid rgb(255, 0, 0);
	text-align: center;
	padding-bottom: 8px;
	padding-top: 5px;

	/* background-color: rgb(255, 0, 0); */
	font-weight: 500;
	padding-left: 0; /* Remove default padding */
	background-image: linear-gradient(to top,#627ecb, #38418e);
	/* box-sizing: border-box; */
	/* border-right: 0.1vh solid #000000; */
	/* border: 0.1vh solid rgb(255, 211, 79); */



}


#eva2_legend{
	position: sticky;

	width: 50%;
	height: 20px;
	padding-bottom: 8px;
	padding-top: 5px;


	/* background-color: rgb(0, 68, 255); */
	border-bottom: 0.5vh solid rgb(0, 68, 255);
	font-weight: 500;
	text-align: center;

	padding-left: 0; /* Remove default padding */
	background-image: linear-gradient(to top,#627ecb, #38418e);
/* 
	box-sizing: border-box; 
	border-left: 0.1vh solid #000000; */

	/* border: 0.1vh solid rgb(255, 211, 79); */



}
/* Minimap panel */
#panel_minimap {
	top: 0%;
	right: 0%;
	height: 50%;
	aspect-ratio: 5/4;
	background-image: url('/images/rockYardMap.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	
}

/* Minimap dot styling */
.mapdot1 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: rgb(255, 50, 241);
    border-radius: 50%;
    display: inline-block;
    opacity: 1; /* Default opacity for new dots */
}

.current-dot1 {
    width: 0;
    height: 0;
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent; */
	border: 0.5vh solid rgb(255, 0, 0);
    border-radius: 0;
    opacity: 1; /* Ensure the current dot is fully opaque */
}


/* Minimap dot styling */
.mapdot2 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: rgb(50, 248, 255);
    border-radius: 50%;
    display: inline-block;
    opacity: 1; /* Default opacity for new dots */
}

.current-dot2 {
    width: 0;
    height: 0;
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent; */
	border: 0.5vh solid rgb(0, 68, 255);
    border-radius: 0;
    opacity: 1; /* Ensure the current dot is fully opaque */
}

.mapdot3 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
    display: inline-block;
    opacity: 1; /* Default opacity for new dots */
}

/* Camera Feed Panel */
#panel_camfeed_1 {
	top: 0%;
	right: 34.5%;
	height: 50%;
	aspect-ratio: 250 / 281;
	/* background-color: #88c; */
	background-image: linear-gradient(to bottom ,#33426b, #161c58);
	justify-content: center;


}

#panel_camfeed_2 {
	top: 50%;
	right: 34.5%;
	height: 50%;
	aspect-ratio: 250 / 281;	
	/* background-color: #88c; */
	background-image: linear-gradient(to top ,#253254, #161c58);



}


#camfeed_2_element {
	width: 95%;
	height: 90%;
	margin-top: 5%;
	margin-left: 3%;
	border-radius: 5%;
}


#panel_rover {
	bottom: 0%;
	top: 50%;
	left: 0%;
	height: 50%;
	aspect-ratio: 250 / 169;
	/* background-color: #88c; */
	background-image: linear-gradient(45deg ,#293966, #161c56);

}



#panel_controlcache {
	top: 0%;
	left: 0%;
	height: 50%;
	aspect-ratio: 250 / 169;
	/* background-color: #88c; */
	background-image: linear-gradient(to bottom right,#33426b, #161c56);


}
